<div id="wc_editor" class="row">
  <div class="col-xl-8 flex-column d-flex grid-margin stretch-card">
    <div class="row flex-grow">
      <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-header bg-white">
            <div class="form-group">
              <div class="float-left">
                <h4 class="card-title">WELCOME MESSAGE</h4>
              </div>
              <div class="float-right">
                <label class="toggle-switch">
                  <input type="checkbox" id="wc_enable">
                  <span class="toggle-slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <div id="wc_enable_module" style="display:none" class="card-inner">
            <div class="card-body">
              <!-- CHANNEL -->
              <div class="form-group row">
                <div class="col-sm-3">
                  <label class="form-label">Channel</label>
                  <select class="form-control form-control-sm" id="wc_channel"></select>
                </div>
              </div>
              <!-- CONTENT -->
              <div class="form-group mt-5">
                <label class="form-label">Konten</label>
                <textarea class="form-control" id="wc_embeds_content" maxlength="4000" rows="3" resize="true"></textarea>
              </div>
              <div class="input-group">
                <label id="wc_show_embed_text" class="mr-3 mt-1">Tampilkan Embed</label>
                <label class="toggle-switch">
                  <input type="checkbox" id="wc_enable_embed">
                  <span class="toggle-slider round"></span>
                </label>
              </div>
              <div id="wc_embed" style="display:none">
                <!-- COLOR -->
                <div class="form-group row">
                  <div class="col-sm-3">
                    <label class="form-label">Color</label>
                    <div id="wc_colorpicker" class="input-group" title="Using format option">
                      <input type="text" class="form-control input-sm" id="wc_embeds_color" value="#305AA2"/>
                      <span class="input-group-append">
                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- TITLE -->
                <div class="form-group">
                  <label class="form-label">Title</label>
                  <input type="text" id="wc_embeds_title" class="form-control">
                </div>
                <!-- DESCRIPTION -->
                <div class="form-group">
                  <label class="form-label">Deskripsi</label>
                  <textarea class="form-control" id="wc_embeds_description" rows="3"></textarea>
                </div>
                <!-- IMAGE -->
                <div class="form-group">
                  <label class="form-label">Background</label>
                  <div class="clearfix"></div>
                  <div id="wc_hasimage" class="d-none embeds_image_wrapper">
                    <img id="wc_embeds_image" src="" class="image_preview rounded" alt="image">
                    <button id="wc_btn_image_delete" class="btn btn-xs btn-danger position-absolute" style="top:10px;right:10px"><i class="fas fa-close"></i></button>
                    <input type="file" id="wc_imagefile" class="d-none">
                  </div>
                  <div id="wc_noimage" class="embeds_image_wrapper">
                    <img src="images/noimage.jpg" class="image_preview rounded" alt="image">
                    <button id="wc_btn_image_upload" class="btn btn-xs btn-success position-absolute" style="top:10px;right:10px"><i class="fas fa-upload"></i></button>
                  </div>
                </div>
                <!-- FOOTER -->
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label class="form-label">Footer Teks</label>
                      <input type="text" id="wc_embeds_footer_text" class="form-control form-control-sm">
                    </div>
                    <div class="col">
                      <label class="form-label">Footer Ikon</label>
                      <input type="text" id="wc_embeds_footer_icon_url" class="form-control form-control-sm">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">        
              <div class="float-right btn-group">
                <button id="wc_btn_preview" class="btn btn-sm btn-secondary mr-2">Preview</button>
                <!--button id="wc_btn_save" class="btn btn-sm btn-success">Simpan</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="wc_preview" style="display:none" class="row">
  <div class="col-xl-8 flex-column d-flex grid-margin stretch-card">
    <div class="row flex-grow">
      <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-header bg-white">
            <div class="float-left">
              <h4 class="title">Pratinjau</h4>
            </div>
          </div>
          <div class="card-body">
            <div avatar="<%=data.botAvatar%>" username="<%=data.botUsername%>" id="wc_embeds_preview" class="embeds_preview"></div>
          </div>
          <div class="card-footer">
            <div class="float-right btn-group">
              <button id="wc_btn_back" class="btn btn-sm btn-secondary mr-2">Kembali</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- goodbye -->
<div id="gb_editor" class="row">
  <div class="col-xl-8 flex-column d-flex grid-margin stretch-card">
    <div class="row flex-grow">
      <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-header bg-white">
            <div class="form-group">
              <div class="float-left">
                <h4 class="card-title">GOODBYE MESSAGE</h4>
              </div>
              <div class="float-right">
                <label class="toggle-switch">
                  <input type="checkbox" id="gb_enable">
                  <span class="toggle-slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <div id="gb_enable_module" style="display:none" class="card-inner">
            <div class="card-body">
              <!-- CHANNEL -->
              <div class="form-group row">
                <div class="col-sm-3">
                  <label class="form-label">Channel</label>
                  <select class="form-control form-control-sm" id="gb_channel"></select>
                </div>
              </div>
              <!-- CONTENT -->
              <div class="form-group mt-5">
                <label class="form-label">Konten</label>
                <textarea class="form-control" id="gb_embeds_content" maxlength="4000" rows="3" resize="true"></textarea>
              </div>
              <div class="input-group">
                <label id="gb_show_embed_text" class="text-primary mr-3 mt-1">Tampilkan Embed</label>
                <label class="toggle-switch">
                  <input type="checkbox" id="gb_enable_embed">
                  <span class="toggle-slider round"></span>
                </label>
              </div>
              <div id="gb_embed" style="display:none">
                <!-- COLOR -->
                <div class="form-group row">
                  <div class="col-sm-3">
                    <label class="form-label">Color</label>
                    <div id="gb_colorpicker" class="input-group" title="Using format option">
                      <input type="text" class="form-control input-sm" id="gb_embeds_color" value="#305AA2"/>
                      <span class="input-group-append">
                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- TITLE -->
                <div class="form-group">
                  <label class="form-label">Title</label>
                  <input type="text" id="gb_embeds_title" class="form-control">
                </div>
                <!-- DESCRIPTION -->
                <div class="form-group">
                  <label class="form-label">Deskripsi</label>
                  <textarea class="form-control" id="gb_embeds_description" rows="3"></textarea>
                </div>
                <!-- IMAGE -->
                <div class="form-group">
                  <label class="form-label">Background</label>
                  <div class="clearfix"></div>
                  <div id="gb_hasimage" class="d-none embeds_image_wrapper">
                    <img id="gb_embeds_image" src="" class="image_preview rounded" alt="image">
                    <button id="gb_btn_image_delete" class="btn btn-xs btn-danger position-absolute" style="top:10px;right:10px"><i class="fas fa-close"></i></button>
                    <input type="file" id="gb_imagefile" class="d-none">
                  </div>
                  <div id="gb_noimage" class="embeds_image_wrapper">
                    <img src="images/noimage.jpg" class="image_preview rounded" alt="image">
                    <button id="gb_btn_image_upload" class="btn btn-xs btn-success position-absolute" style="top:10px;right:10px"><i class="fas fa-upload"></i></button>
                  </div>
                </div>
                <!-- FOOTER -->
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <label class="form-label">Footer Teks</label>
                      <input type="text" id="gb_embeds_footer_text" class="form-control form-control-sm">
                    </div>
                    <div class="col">
                      <label class="form-label">Footer Ikon</label>
                      <input type="text" id="gb_embeds_footer_icon_url" class="form-control form-control-sm">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">  
              <div class="float-right btn-group">
                <button id="gb_btn_preview" class="btn btn-sm btn-secondary mr-2">Preview</button>
                <!--<button id="gb_btn_save" class="btn btn-sm btn-success">Simpan</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="gb_preview" style="display:none" class="row">
  <div class="col-xl-8 flex-column d-flex grid-margin stretch-card">
    <div class="row flex-grow">
      <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-header bg-white">
            <div class="float-left">
              <h4 class="title">Pratinjau</h4>
            </div>
          </div>
          <div class="card-body">
            <div avatar="<%=data.botAvatar%>" username="<%=data.botUsername%>" id="gb_embeds_preview" class="embeds_preview"></div>
          </div>
          <div class="card-footer">
            <div class="float-right btn-group">
              <button id="gb_btn_back" class="btn btn-sm btn-secondary mr-2">Kembali</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>