<style>
  .navbar-brand img {
    width: auto!important;
    height: auto!important;
  }
</style>
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <!--<a class="navbar-brand brand-logo" href="javascript:void"><img src="images/imut.png" alt="logo"/></a-->
    <a class="navbar-brand brand-logo-mini" href="javascript:void"><img src="images/imut.png" alt="logo"/></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="icon-menu"></span>
    </button>
    <ul class="navbar-nav mr-lg-2">
      <!--<li class="nav-item nav-search d-none d-lg-block">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search">
              <i class="icon-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Search Projects.." aria-label="search" aria-describedby="search">
        </div>
      </li>-->
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown d-flex">
        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="logDropdown" href="javascript:void" data-toggle="dropdown">
          <i class="fas fa-history mx-0"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="logDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">LOG CHANGES</p>
          <!--<div class="dropdown-item preview-item">
            <div class="preview-thumbnail">
                <img src="<%=data.user.avatar%>" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content flex-grow">
              <h6 class="preview-subject ellipsis font-weight-normal">David Grey
              </h6>
              <p class="font-weight-light small-text text-muted mb-0">
                The meeting is cancelled
              </p>
            </div>
          </div>-->
        </div>
      </li>
      <li class="nav-item dropdown d-flex mr-4 ">
        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="javascript:void" data-toggle="dropdown">
          <i class="fas fa-cog mx-0"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
          <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
          <a href="/logout" class="dropdown-item preview-item">
              <i class="icon-inbox"></i> Logout
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="fas fa-bars mx-0"></span>
    </button>
  </div>
</nav>