<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="user-profile">
    <div class="user-image">
      <img src="<%=data.user.avatar%>">
    </div>
    <div class="user-name">
        <%=data.user.username%>
    </div>
    <div class="user-designation">
        <%=data.user.role.current.name%>
    </div>
  </div>
  <ul class="nav">
    <%- data.pages %>
  </ul>
</nav>